{% extends 'layout.html' %}

{% block content %}
    <section>
        <h2>Promotions</h2>
        <div>
            <p>Today's Promotions:</p>
            <ul>
                <li>Buy 1 Get 1 Free on Fruits</li>
                <li>20% Off on Selected Groceries</li>
		<li>5% off on all toys</li>
		<li>buy any two diary products and get one free</li>
		<li>3% off on all bakery products</li>
                <!-- Add more promotions as needed -->
            </ul>
        </div>
    </section>
{% endblock %}
